*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgb(255, 255, 255);
    width: 100%;
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

.comment-flexbox {
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{
    font-family: Roboto, sans-serif;
    font-weight: 508;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(90deg, #6C33FF 0%, #EA3EFF 100%);
    padding: 10px 56px;
    border: none;
    box-shadow: rgb(0, 0, 0) 5px 5px 25px -8px;
    border-radius: 8px;
    transition: all 0.4s ease;
    /*transform: translateY(0);*/
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: lowercase;
}

.btn:hover{
    transition: all 0.4s ease;
    padding: 16px 66px;
    /*transform : translateY(-2px);*/
    background: linear-gradient(90deg, #6C33FF 0%, #EA3EFF 100%);
    color: #ffffff;
    border: none;
}

/* Textarea style */
.input-box {
    padding:20px;
    margin: 0;
    border-radius:15px;
    border:0;
    /*box-shadow:4px 4px 10px rgba(0,0,0,0.06);*/
    font-size: 20px;
    width:900px;
    height: 200px; 
    resize: none;
    background-color: #ebebeb;
    -webkit-box-shadow: 8px 7px 31px -3px rgba(139, 131, 218, 1);
    -moz-box-shadow: 8px 7px 31px -3px rgba(139, 131, 218, 1);
    box-shadow: 8px 7px 31px -3px rgba(139, 131, 218, 1);
}

.input-box:hover {
    border: none;
}

.form1-button {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    eight: 100%;
    width: 100%;
    padding: 2rem 1rem;
}

.form1-button button {
    /* light pink light blue */
    /*background: rgb(187,82,222);
    background: linear-gradient(90deg, rgba(187,82,222,1) 0%, rgba(139,186,233,1) 100%);*/
    background: rgb(108,51,255);
    background: linear-gradient(90deg, rgba(108,51,255,1) 0%, rgba(234,62,255,1) 100%);
    /*padding: 1.55rem 0 1.55rem 1.2rem;*/
    border: none;
    color: #ffffff;
    border-radius: 0.4rem;
    /*margin-bottom: 3.6rem;*/
    cursor: pointer;
    /*position: relative;*/
    transition: all 0.4s ease;
    max-width: 450px;
    width: 100%;
    max-height: 50px;
    height: 50px;
    width: 100%;
    
}
.form1-button span{
    font-size: 1rem;
}

.form1-button button:hover {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    transition: all 0.4s ease;
}

.ticket-container {
    display: flex;
    max-width: 1650px;
    width: 100%;
    border: 1px solid black;
    margin: 1rem 1rem;
    padding: 0 .5rem;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-rows: repeat(5, 1fr);*/
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -webkit-box-shadow: 8px 7px 31px -3px rgba(145, 131, 183, 1);
    -moz-box-shadow: 8px 7px 31px -3px rgba(145, 131, 183, 1);
    box-shadow: 8px 7px 31px -3px rgba(145, 131, 183, 1);
    
}

.parent1 {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-rows: repeat(5, 1fr);*/
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -webkit-box-shadow: 8px 7px 31px -3px rgba(145, 131, 183, 1);
    -moz-box-shadow: 8px 7px 31px -3px rgba(145, 131, 183, 1);
    box-shadow: 8px 7px 31px -3px rgba(145, 131, 183, 1);
}

.parent2 {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-rows: repeat(5, 1fr);*/
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -webkit-box-shadow: 8px 7px 31px -3px rgba(145, 131, 183, 1);
    -moz-box-shadow: 8px 7px 31px -3px rgba(145, 131, 183, 1);
    box-shadow: 8px 7px 31px -3px rgba(145, 131, 183, 1);
}

.parent3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    -webkit-box-shadow: 8px 7px 31px -3px rgba(145, 131, 183, 1);
    -moz-box-shadow: 8px 7px 31px -3px rgba(145, 131, 183, 1);
    box-shadow: 8px 7px 31px -3px rgba(145, 131, 183, 1);
}

.srodek-tekst{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.srodek { 
    /*margin: 0 .5rem;*/
    margin: 2rem 1rem;
    padding: .5rem .5rem;
    grid-area: 2 / 2 / 5 / 5; 
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow-wrap: break-word;
    max-height: 450px;
    height: 100%;
    overflow: auto;
}

.gora { 
    margin: 1rem 1rem;
    padding: .5rem .5rem;
    grid-area: 1 / 1 / 2 / 4; 
    text-align: start;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-wrap: break-word;
    max-height: 200px;
    height: 100%;
}

.dol { 
    margin: 3rem 1rem;
    padding: .5rem .5rem;
    grid-area: 5 / 2 / 6 / 6; 
    text-align: end;
    justify-content: flex-end;
    align-items: flex-end;
    overflow-wrap: break-word;
    max-height: fit-content;
}

.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2rem 0;
    padding: 1rem 0;
    /*-webkit-box-shadow: 0px 0px 21px -3px rgba(44, 97, 243, 0.59);
    -moz-box-shadow: 0px 0px 21px -3px rgba(44, 97, 243, 0.59);
    box-shadow: 0px 0px 21px -3px rgba(44, 97, 243, 0.59);*/
}

.photo {
    max-width: 100%;
    max-height: 100%;
}

.photo-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 500px;

    margin: 2rem 0;
    padding: 1rem 0;
}

.photo-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}