*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

.comment-flexbox {
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}


/* Textarea style */
.input-box {
    padding:20px;
    margin: 0;
    border-radius:15px;
    border:0;
    /*box-shadow:4px 4px 10px rgba(0,0,0,0.06);*/
    font-size: 20px;
    width:900px;
    height: 200px; 
    resize: none;
    background-color: #ebebeb;
  }
  .form1-button {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100%;
    width: 100%;
    padding: 2rem 1rem;
  }

.form1-button button {
    /* light pink light blue */
    /*background: rgb(187,82,222);
    background: linear-gradient(90deg, rgba(187,82,222,1) 0%, rgba(139,186,233,1) 100%);*/
    background: rgb(108,51,255);
    background: linear-gradient(90deg, rgba(108,51,255,1) 0%, rgba(234,62,255,1) 100%);
    /*padding: 1.55rem 0 1.55rem 1.2rem;*/
    border: none;
    color: #ffffff;
    border-radius: 0.4rem;
    /*margin-bottom: 3.6rem;*/
    cursor: pointer;
    /*position: relative;*/
    transition: all 0.4s ease;
    max-width: 450px;
    width: 100%;
    max-height: 50px;
    height: 50px;
    width: 100%;
    
}
.form1-button span{
    font-size: 1rem;
}

.form1-button button:hover {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    transition: all 0.4s ease;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
   
    display: table;
}

.fl-table table{
    width: 500px;
    /*max-width: 600px;
    width: 100%;*/
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    /*max-width: 100%;*/
    white-space: nowrap;
    background-color: white;
    
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    font-size: 20px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 20px;
    word-wrap: break-word;
    
}

.fl-table thead th {
    color: #ffffff;
    background: linear-gradient(90deg, rgba(108,51,255,1) 0%, rgba(234,62,255,1) 100%);
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #383737;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}